:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --secondary-color: #757575;
  --background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --backgound-accent-color: #2f303a;
  --contrast-text-color: #ffffff;
  --footer-contacts: rgba(255, 255, 255, 0.6);
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;

  background-color: var(--background-color);
  color: var(--main-color);
}

img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  border: none;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------logo styles---------- */

.logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: inherit;
}

.logo-accent {
  color: var(--accent-color);
}

/* ----------header styles---------- */

.active-link {
  color: inherit;
}

.main-nav {
  display: flex;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.navigation {
  align-items: center;
  display: flex;
}
.flex-nav {
  align-items: center;
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.auth-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-link {
  color: var(--secondary-color);
}

.current,
.active-link:hover,
.active-link:focus {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

/* ----------footer styles---------- */

.footer {
  background-color: var(--backgound-accent-color);
  padding: 60px 0;
  height: 252px;
}

.footer-logo {
  display: inline-block;

  margin-bottom: 20px;
}

.footer-adress,
.footer-logo {
  color: var(--contrast-text-color);
}

.footer-contacts {
  text-align: left;
  line-height: 1.71;
  color: var(--footer-contacts);
}

.adress-item:nth-child(-n + 2) {
  margin-bottom: 9px;
}

/* ----------hero styles---------- */

.hero {
  text-align: center;

  padding: 200px 0;

  background-color: var(--backgound-accent-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--contrast-text-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  min-width: 200px;
  padding: 10px 32px;

  color: var(--contrast-text-color);
  background-color: var(--accent-color);
}

/* ----------studio styles---------- */

.team-title,
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.member-photo {
  margin-bottom: 30px;
}

.team {
  background-color: var(--secondary-background-color);
}

.member-card {
  background-color: var(--background-color);
  width: 270px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-card:not(:last-child) {
  margin-right: 30px;
}

.team-list {
  display: flex;
}

.team-member,
.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-member {
  font-weight: 500;

  margin-bottom: 10px;
}

.team-profession {
  color: var(--secondary-color);
}

.benefits,
.team {
  padding: 94px 0;
}

.about {
  padding-bottom: 94px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-list {
  display: flex;
}

.benefits-list {
  display: flex;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-title {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.benefits-text {
  line-height: 1.71;
  color: var(--secondary-color);

  width: 270px;
}

.hero-btn:hover,
.hero-btn:focus {
  color: inherit;
  background-color: var(--secondary-background-color);
  cursor: pointer;
}

/* ----------portfolio styles---------- */

.example-description {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.examples {
  padding-top: 91px;
  padding-bottom: 97px;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;

  color: var(--main-color);
}

.examples-type {
  font-size: 16px;
  line-height: 1.88;

  color: var(--secondary-color);
}

/* ----------filter button styles---------- */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  padding: 6px 22px;

  color: var(--main-color);
  background-color: var(--secondary-background-color);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--contrast-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
